body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 24px;
  color: #555;
}
.legend i {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
  opacity: 0.7;
}


.legend-title {
  font-weight: bold;
  margin-bottom: 5px; 
}


.magnitude-legend {
  line-height: 24px;
  color: #555;
}

.magnitude-legend .legend-circle {
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative; 
}

.legend-label {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #000; 
  font-size: 12px; 
  font-weight: bold; 
}

#map-title {
  position: absolute;
  top: 10px; /* Adjust the top position as needed to place the title where you want */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the title to make it more readable */
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

#map-title h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}